.mediaPlayerContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 1400;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .playerMinimized {
    transform: translateY(calc(100% - 80px));
    z-index: 0;
    background:rgba(0, 0, 0, 0);

  }
  
  .playerPlaylist {
    transform: translateY(-418px);
  }